.btn {
    position: relative;
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.20em;
    color: #24292e;
    background-color: #eff3f6;
}

.fab {
    box-shadow: 0 6px 10px 0 #666;
    transition: all 0.1s ease-in-out;
    background-color:$pink;
    width:60px;
    height:60px;
    border-radius:100%;
    background:$pink;
    border:none;
    outline:none;
    color:#FFF;
    font-size:20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;  
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;
}

.fab:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
}

.btn-disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.btn-blue {
    color: #fff;
    background-color: $blue;
}

.btn-green {
    color:white;
    background-color: $green;
}

.btn-orange {
    color:white;
    background-color: $orange;
}

.btn-purple {
    color:white;
    background-color: $purple;
}

.btn-pink {
    color: white;
    background-color: $pink;
}