.form-field {
    padding: 8px;
    display: block;
    width: 90%;
}

.form-field:focus {
    outline : 2px solid $blue;
}

.label {
    font-size: 16px;
    font-weight: 600;
    color:#303030;
}

.checkbox, .radio {
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
}

.select {
    padding: 9px 0;
    font-size: 14px;
}

.select:focus {
    outline: none;
}