.navbar {
    .active {
        background-color: $blue;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #111;
    }
      
    li {
        float: left;
        cursor: pointer;
    }

    li > a {
        cursor: pointer;
    }
      
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
      
    li {
        border-right: 1px solid #333;
    }

    li:last-child {
        border-right: none;
    }

    li a:hover {
        background-color: #333;
    }

    .right {
        float: right;
    }

    .left {
        float: left;
    }
}