.panel {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0.01em 16px;
}

.panel-left {
    border-left: 6px solid !important;
}
.panel-right {
    border-right: 6px solid !important;
}
.panel-top {
    border-top: 6px solid !important;
}
.panel-bottom {
    border-bottom: 6px solid !important;
}

.panel-blue {
    background-color: #ddffff;
}
.panel-green {
    background-color: #a8f5a8;
}
.panel-orange {
    background-color: #ff9f51;
}
.panel-purple {
    background-color: #c360fc;
}
.panel-pink {
    background-color: #f37af3;
}