.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}

.table-responsive {
    display: block;
    overflow-x: auto;
}

.table-striped tbody tr:nth-child(even) {
    background-color: #e6e6e6;
}

.table-bordered tr {
    border-bottom: 1px solid #ddd;
}

.table-bordered tr:last-child {
    border-bottom: none;
}

.table td, .table th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}