.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border-color: #cbcbcb;
}

.table td {
    padding: 8px;
}

.table th {
    padding: 12px;
}

// responsive table
.table-responsive {
    display: block;
    overflow-x: auto;
}

// striped table
.table-striped tbody tr:nth-child(even) {
    background-color: #e0e0e0;
}

// bordered table
.table-bordered th, .table-bordered tr, .table-bordered td {
    border: 1px solid #cbcbcb;
}