// variables
$blue : #0361cc;
$green : #11bd1a;
$orange : #FF5722;
$indigo : #303F9F;
$yellow : #FFEB3B;
$purple : #7B1FA2;
$pink : #f50057;
$amber : #ffc400;

// style components
@import "./components/animation.scss";
@import "./components/button.scss";
@import "./components/card.scss";
@import "./components/form.scss";
@import "./components/panel.scss";
@import "./components/tooltip.scss";
@import "./components/table.scss";
@import "./components/image.scss";
@import "./components/loader.scss";
@import "./components/grid.scss";
@import "./components/breadcrumb.scss";
@import "./components/dropdown.scss";
@import "./components/progress.scss";